.is-test-editor {
	.is-description-wrapper {
		background-color: white;
		padding: 0.3rem 0.7rem;
		border: solid 1px #ccc;
		border-radius: 5px;
		min-width: 20rem;
	}
	.is-depth0 {
		
	}
	.is-depth1 {
		margin-left: 5rem;
	}
	.is-depth2 {
		margin-left: 10rem;
	}
	.is-type-title {
		font-weight: bold;
		&.is-depth0 {
			font-size: $font-size-xlarge;
		}
		&.is-depth1 {
			font-size: $font-size-large;
		}
	}
	.automation-script {
		min-width: 400px;
		font-family: Monospace;
		font-size: $font-size-xsmall;
		border: solid 1px #CCC;
	}
	table {
		td:nth-child(3) {
			max-width: 40vw;
		}
		.step.is-disabled {
			background-color: $color-neutral-lighter;
			.is-line-number {
				text-decoration: line-through;
			}
		}
	}
	.is-input-container {
		padding: $spacing-scale-medium $spacing-scale-large;
		padding-left: 0;
	}
	.is-output-container {
		border-left: solid 1px $color-neutral-light;
		background-color: #f9f9f9;
		padding: $spacing-scale-medium $spacing-scale-large;
	}
	.is-description-container:not(.is-disabled) {
		border-left: solid 5px $color-primary-base;
		border-right: solid 5px $color-primary-base;
		background: linear-gradient(90deg, $color-primary-lightest 0%, white 50%, $color-primary-lightest 100%);
	}
	.is-description-container.is-disabled {
		border-left: solid 5px $color-neutral-base;
		border-right: solid 5px $color-neutral-base;
		background: linear-gradient(90deg, $color-neutral-lighter 0%, white 50%, $color-neutral-lighter 100%);
	}
	tbody tr:not(.is-disabled):hover {
		background-color: $color-secondary-lightest;
	}
	.is-badge {
		white-space: nowrap;
	}
	.is-result {
		padding: 0.5rem;
		justify-content: center;
		&.is-color-danger-outline {
			background-color: $color-danger-lightest;
		}
		&.is-color-warning-outline {
			background-color: $color-warning-lightest;
		}
		&.is-color-success-outline {
			background-color: $color-success-lightest;
		}
	}
}

.is-variant-glue-script {
	white-space: pre-wrap;
	font-size: $font-size-xsmall;
	font-family: Monospace;
}

@mixin form-combo_variant_test-editor-services {
	.n-input-combo-dropdown-values {
		> :not(:last-child) {
			border-bottom: solid 1px $color-neutral-light;
		}
	}
}

@mixin form-component_label_horizontal {
	display: flex;
	//flex-wrap: wrap;
	.is-label-wrapper {
		display: flex;
		padding: 0 $spacing-scale-medium;
		align-items: center;
		border: solid 1px $color-neutral-light;
		border-right: none;
		background-color: $color-neutral-lighter;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		white-space: nowrap;
	}
	input {
		min-width: 15rem;
	}
	.is-content-wrapper {
		flex-grow: 1;
		white-space: nowrap;
		input {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.is-content-after {
		width: 100%;
		padding: $spacing-scale-small 0;
	}
	.is-messages {
		width: 100%;
		padding: $spacing-scale-small 0;
	}
}

.is-variant-test-editor-mapping {
	.is-title {
		padding: 0;
		font-size: $font-size-small;
	}
}